
__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# *.manifest
# *.spec


pip-log.txt
pip-delete-this-directory.txt


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


.ipynb_checkpoints




venv/
.venv/
env/
.env/
ENV/


.env


.idea/
.vscode/
*.sublime-project
*.sublime-workspace
nbproject/
*.DS_Store # macOS specific


*.db
knowledge.db # Be explicit if filename is fixed

*.bin
faiss_index.bin # Be explicit


*.pkl
metadata.pkl # Be explicit


*.log
